@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

main {
	margin: 50px;
}

form {
	margin: auto;
	border-radius: 25px;
	border: 1px solid gray;
	padding: 25px;
	width: 70%;
}

img {
	display: block;
	margin: auto;
	height: 200px;
}

h1 {
	text-align: center;
}