<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/main.css"/>

        <!--Angular Library, jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

        <title> i hope ur better older than 13 m8 </title> <!-- What should the title be?-->
    </head>

    <body ng-app = "TeamChallenge">
        <div class="container-fluid" ng-controller="FormCtrl">

    	    <h1> cool social media page for 13+ kids. no dogs allowed </h1>
    	    <img src="img/daisyPuppy.jpg" alt="Daisy Puppy">
        	<main>
    	    	<form name="signUp" class="form-horizontal" novalidate>

                    <div class="form-group" ng-class="{'has-error': signUp.email.$invalid && signUp.email.$touched}">
                        <label for="email">Email Address</label>
                        <input id="email" name="email" type="email" ng-model="email" class="form-control" placeholder="Email Address..." required>
                        <p id="invalidEmail" ng-show="signUp.email.$invalid && signUp.email.$dirty" class="help-block"> Oops! Looks like this isn't a valid email address.</p>
                        <p id="forgotEmail" ng-show="signUp.email.$touched && signUp.email.$pristine" class="help-block"> Oops! Don't forget to fill this out! </p>
                    </div>

                    <div class="form-group">
        	    		<label for="firstName">First Name</label>
        	    		<input id="firstName" name="firstName" type="text" class="form-control" placeholder="First Name...">
                    </div>

                    <div class="form-group" ng-class="{'has-error': signUp.lastName.$invalid && signUp.lastName.$touched}">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" ng-model="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name..." required>
                        <p id="forgotLastName" ng-show="signUp.lastName.$touched && signUp.lastName.$pristine" class="help-block"> Oops! Don't forget to fill this out! </p>
                    </div>

                    <div class="form-group" ng-class="{'has-error': signUp.birthdate.$invalid && signUp.birthdate.$touched}">
                        <label for="lastName">Birthdate </label>
                        <input id="birthdate" ng-model="birthdate" ng-change="checkBirthdate(birthdate)" name="birthdate" type="text" class="form-control" placeholder="September 25 2002" required>
                        <p id="forgotBirthdate" ng-show="signUp.birthdate.$touched && signUp.birthdate.$pristine" class="help-block"> Oops! Don't forget to fill this out! </p>
                        <p id="tooYoung" ng-show="signUp.birthdate.$invalid && signUp.birthdate.$dirty" class="help-block"> Oops! Looks like you're not old enough to sign up :( </p>
                        <p id="invalidBirthdate" ng-show="checkBirthdate(birthdate) && signUp.birthdate.$dirty" class="help-block"> Oops, this isn't a valid birthday! </p>
                    </div>

    	    		<button type="submit" class="btn btn-primary" ng-disabled="signUp.$invalid">Sign Up</button>
    	    	</form>
    	    </main>
          
        </div> <!-- end container-fluid -->
        <script src="js/app.js"></script>
    </body>
</html>