<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="img/bunny.png" type="image/png"/>
        <link rel="stylesheet" href="css/main.css"/>

        <!--Angular Library, jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

        <title>Bunny Society</title> <!-- What should the title be?-->
    </head>

    <body ng-app = "TeamChallenge">
        <div id="mainBox" class="container" ng-controller="FormCtrl">

    	    <div id="caption" class="container">
    	    	<h1>Be a Bunny Society Member today!</h1>
    	    	<h2>"Being a Bunny Society Member changed my life! Who doesn't love these adorable little furballs?!"</h2>
    	    	<p>The Bunny Society is a prestigious club for the avid bunny lover. When you sign up to be a BSM, you're signing up to be part of a great family. Utilizing the world wide web, we chat about our favorite bunny videos, images, news, and more, all around the world! If you love bunnies, come be a Bunny Society Member today!</p>
    	   		<small>Due to potentially somewhat mature content which may or may not be displayed, this website is restricted to the Bunny Society Members who are 13 and older!</small>
    	   	</div>
    	    <img class="circle" src="img/bunnyPuppy.jpg" alt="Busy Bees">
        	<main>
                 <div id="success" class="alert alert-success" ng-show="success">
                    <strong>Success!</strong> We've received your request to sign up. 
                </div>
    	    	<form name="signUp" class="form-horizontal" novalidate>

                    <div class="form-group" ng-class="{'has-error': signUp.email.$invalid && signUp.email.$touched}">
                        <label for="email">Email Address</label>
                        <input id="email" name="email" type="email" ng-model="email" class="form-control" placeholder="Email Address..." required>
                        <p id="invalidEmail" ng-show="signUp.email.$invalid && signUp.email.$dirty" class="help-block"> Oops! Looks like this isn't a valid email address.</p>
                        <p id="forgotEmail" ng-show="signUp.email.$touched && signUp.email.$pristine" class="help-block"> Oops! Don't forget to fill this out! </p>
                    </div>

                    <div class="form-group">
        	    		<label for="firstName">First Name</label>
        	    		<input id="firstName" name="firstName" type="text" class="form-control" placeholder="First Name...">
                    </div>

                    <div class="form-group" ng-class="{'has-error': signUp.lastName.$invalid && signUp.lastName.$touched}">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" ng-model="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name..." required>
                        <p id="forgotLastName" ng-show="signUp.lastName.$touched && signUp.lastName.$pristine" class="help-block"> Oops! Don't forget to fill this out! </p>
                    </div>

                    <div class="form-group" ng-class="{'has-error': signUp.birthdate.$invalid && signUp.birthdate.$touched}">
                        <label for="birthdate">Birthdate </label>
                        <input id="birthdate" ng-model="birthdate" ng-change="checkBirthdate(birthdate)" name="birthdate" type="text" class="form-control" placeholder="e.g. September 25, 2002 or 9/25/02" required>
                        <p id="forgotBirthdate" ng-show="signUp.birthdate.$touched && signUp.birthdate.$pristine" class="help-block"> Oops! Don't forget to fill this out! </p>
                        <p id="tooYoung" ng-show="signUp.birthdate.$invalid && signUp.birthdate.$dirty" class="help-block"> Oops! Looks like you're not old enough to sign up :( </p>
                        <p id="invalidBirthdate" ng-show="checkBirthdate(birthdate) && signUp.birthdate.$dirty" class="help-block"> Oops, this isn't a valid birthday! </p>
                    </div>

                    <div class ="form-group" ng-class="{'has-error': signUp.password.$invalid && signUp.password.$touched}">
                        <label for="password"Password>Password </label>
                        <input id="password" ng-model="password" name="password" type="password" class="form-control" placeholder="Password..." required>
                        <p id="forgotPassword" ng-show="signUp.password.$touched && signUp.password.$pristine" class="help-block"> Oops! Don't forget to fill this out! </p>
                    </div>

                    <div class ="form-group" ng-class="{'has-error': signUp.passwordConfirm.$invalid && signUp.passwordConfirm.$touched}">
                        <label for="passwordConfirm"Password>Password Confirmation</label>
                        <input id="passwordConfirm" ng-model="passwordConfirm" name="passwordConfirm" type="password" class="form-control" placeholder="Password Confirmation..." required>
                        <p id="forgotPasswordConfirm" ng-show="signUp.passwordConfirm.$touched && signUp.passwordConfirm.$pristine" class="help-block"> Oops! Don't forget to fill this out! </p>
                        <p id="passwordNoMatch" ng-show="signUp.password === signUp.passwordConfirm" class="help-block">Password and confirmation password don't match! </p>
                    </div>

    	    		<button id ="submit" type="submit" class="btn btn-primary" ng-click="showAlert()" ng-disabled="signUp.$invalid">Sign Up</button>
    	    	</form>
    	    </main>
          
        </div> <!-- end container-fluid -->
        <script src="js/app.js"></script>
    </body>
</html>